<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<%- messages() %>

<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>
  
<form action="/inv/approveClass" method="post">
    <fieldset>
        <div><i>Confirm approval for this classification.</i></div>
        <label for="classification_name">Classification</label>
        <input type="text" id="classification_name" name="classification_name" required pattern="[^' ']+[a-zA-Z]" value="<%= locals.classification_name %>" readonly>
        <input type="hidden" name="classification_id" 
        <% if(locals.classification_id) { %> value="<%= locals.classification_id %>"
          <% } %>>
          <input type="submit" name="submit" value="Approve Classification">
    </fieldset>
</form>

